{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{% url 'home' %}">PILL ME</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown show">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Category</a>
				<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 44px, 0px);">
					<a class="dropdown-item" href="{% url 'pills:pill_list' %}">전체 보기</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">눈(시력)</a>
					<a class="dropdown-item" href="#">간</a>
					<a class="dropdown-item" href="#">혈관</a>
					<a class="dropdown-item" href="#">뇌</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">남성에게 꼭 필요한 영양제</a>
					<a class="dropdown-item" href="#">여성에게 꼭 필요한 영양제</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Good To Know</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'freeboard:post_list' %}">FreeBoard</a>
			</li>
		</ul>
		{% if user.is_active %}
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-right">
				<a class="nav-link" href="{% url 'profiles:user_profile' user.pk %}">프로필</a>
			</li>
			<li class="nav-right">
				<a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a>
			</li>
		</ul>
		{% else %}
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-right">
				<a class="nav-link" href="{% url 'account_signup' %}">회원가입</a>
			</li>
			<li class="nav-right">
				<a class="nav-link" href="{% url 'account_login' %}">로그인</a>
				<!-- <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
				<a href="{% provider_login_url 'google' %}">구글 로그인</a>
				<a href="{% provider_login_url 'naver' %}">네이버 로그인</a> -->

			</li>
		</ul>
		{% endif %}
		
	</div>
</nav>