{% extends "base.html" %}

  <body>

  	{% block content %}
  	<div class="container-fluid">
	  	<div class="jumbotron text-center" >
	  		<h1 class="display-3">우리 모두 약쟁이가 되어봅시다 !</h1>
	  		<p class="lead">let's get all kind of pills around the world !</p>
	  		<hr class="my-4">
	  		<p>과도한 약물은 좋을 수도 있다.</p>
	  		<p class="lead">
	  			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	  		</p>
	  	</div>
  	</div>


	<div class="container-fluid">
		<form method="GET" action="{% url 'pills:pill_list' %}">
		  	<div class="form-row">
			    <div class="col-sm-11">
			    	<input type="text" name="q" value="{{ request.GET.q }}" class="form-control mr-sm-3" placeholder="영양제 검색">
			    </div>
			    <div class="col-auto">
			      	<button class="btn btn-secondary my-sm-0" type="submit">검색</button>
			    </div>
		  	</div>
		</form>
	</div>

  </br>
  	<div class='container-fluid'>
  		<div class="row">
  			<div class="col-md-4">
			  	<div class="card mb-3" style="width: 18rem;">
			  		<h3 class="card-header">오메가-3</h3>
			  		<div class="card-body">
			  			<h5 class="card-title">특징: 생선 비린내 오지게 남</h5>
			  			<h6 class="card-subtitle text-muted">특별 코멘트: 먹을만 함</h6>
			  		</div>
			  		<img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  		<div class="card-body">
			  			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  		</div>
			  		<ul class="list-group list-group-flush">
			  			<li class="list-group-item">Cras justo odio</li>
			  			<li class="list-group-item">Dapibus ac facilisis in</li>
			  			<li class="list-group-item">Vestibulum at eros</li>
			  		</ul>
			  		<div class="card-body">
			  			<a href="#" class="card-link">Card link</a>
			  			<a href="#" class="card-link">Another link</a>
			  		</div>
			  		<div class="card-footer text-muted">
			  			2 days ago
			  		</div>
		  		</div>
		  	</div>
		  	<div class="col-md-4">
			  	<div class="card mb-3" style="width: 18rem;">
			  		<h3 class="card-header">오메가-3</h3>
			  		<div class="card-body">
			  			<h5 class="card-title">특징: 생선 비린내 오지게 남</h5>
			  			<h6 class="card-subtitle text-muted">특별 코멘트: 먹을만 함</h6>
			  		</div>
			  		<img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  		<div class="card-body">
			  			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  		</div>
			  		<ul class="list-group list-group-flush">
			  			<li class="list-group-item">Cras justo odio</li>
			  			<li class="list-group-item">Dapibus ac facilisis in</li>
			  			<li class="list-group-item">Vestibulum at eros</li>
			  		</ul>
			  		<div class="card-body">
			  			<a href="#" class="card-link">Card link</a>
			  			<a href="#" class="card-link">Another link</a>
			  		</div>
			  		<div class="card-footer text-muted">
			  			2 days ago
			  		</div>
		  		</div>
		  	</div>
		  	<div class="col-md-4">
			  	<div class="card mb-3" style="width: 18rem;">
			  		<h3 class="card-header">오메가-3</h3>
			  		<div class="card-body">
			  			<h5 class="card-title">특징: 생선 비린내 오지게 남</h5>
			  			<h6 class="card-subtitle text-muted">특별 코멘트: 먹을만 함</h6>
			  		</div>
			  		<img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
			  		<div class="card-body">
			  			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  		</div>
			  		<ul class="list-group list-group-flush">
			  			<li class="list-group-item">Cras justo odio</li>
			  			<li class="list-group-item">Dapibus ac facilisis in</li>
			  			<li class="list-group-item">Vestibulum at eros</li>
			  		</ul>
			  		<div class="card-body">
			  			<a href="#" class="card-link">Card link</a>
			  			<a href="#" class="card-link">Another link</a>
			  		</div>
			  		<div class="card-footer text-muted">
			  			2 days ago
			  		</div>
		  		</div>
		  	</div>
  		</div>
	</div>

	<br/>
	<hr/>

    <h1>card 반응형으로 / login navbar에서 오른쪽 붙이기 / 검색창에 버튼, form inline 처럼 옆에 바로 붙이기</h1>

    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>