{% extends "base.html" %}
{% load hitcount_tags %}

{% block content %}
<br/>

<h1 style="text-align: center;">지식 창고</h1>
</br>


<div class="jumbotron">
  <h1 class="display-3">{{ gpost.title }}</h1>

  <p class="lead">{{ gpost.timestamp }}</p>
  <p class="lead">조회수: {% get_hit_count for gpost %}</p>

  {% if user.is_authenticated %}
      <p><input type="button" class="like badge-post badge-danger" name="{{ gpost.id }}" value="추천"></p>
    {% endif %}
    <p id="count-{{ gpost.id }}">추천 : {{ gpost.like_count }}개</p>
    <p id="like-user-{{ gpost.id }}"></p>


  {% if gpost.images %}
    <img style="height: 80%; width: 100%; display: block;" src="{{ gpost.images.url }}">
  {% endif %}

  {% if gpost.files %}
    <img style="height: 80%; width: 100%; display: block;" src="{{ gpost.files.url }}">
  {% endif %}

  <hr class="my-4">
  <p>{{ gpost.content|linebreaks }}</p>
    <hr/>
    <h3>뭐 넣지</h3>
    <p></p>
    <hr/>

  <h3>댓글</h3>
  <br/>
 

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'goodtoknow:post_list' %}" role="button">목록으로</a>
  </p>

</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

  //// 좋아요 Ajax ////
  $(".like").click(function(){
  var pk = $(this).attr('name')
  $.ajax({
    type: "POST",
    url: "{% url 'goodtoknow:gpost_like' %}",
    data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송할 때, 옵션.
    dataType: "json",

      // 서버측에서 전송한 Response 데이터 형식 (json)

      success: function(response){ // 성공시 - 좋아요, 유저 목록 변경
        alert(response.message);
        $("#count-"+pk).html("좋아요 "+response.like_count+"개");


        if(users.indexOf(response.username) != -1){
          $("#like-user-"+pk).text(users.replace(response.username, ""));
        }else{
          $("#like-user-"+pk).text(response.username+users);
        }
      },
      error: function(request, status, error){ // 실패시 - 로그인 페이지 리다이렉트
        alert("로그인이 필요합니다.")
        window.location.replace("/accounts/login/")
        //  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      },
  });
  })
</script>


{% endblock %}

