{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center;">Pill list</h1>


	<div class='container'>
  		<div class="row">
  		{% for pills in object_list %}
  			<div class="col-lg-4">
			  	<div class="card mb-3" style="width: 18rem;">
			  		<a href="{{ pills.get_absolute_url }}"><h3 class="card-header" style="text-align: center;">{{ pills.name }}</h3></a>
			  		<div class="card-body">

			  		<li>
					    <a href="{% url 'pills:pill_like' pills.pk %}">{{ pills.like_count }} like{{ pills.like_count|pluralize }}</a>
					</li>

			  			<h5 class="card-title" style="height: 45px;"">특징: {{ pills.feature }}</h5>
			  			<h6 class="card-subtitle text-muted" style="height: 25px;">특별 코멘트: {{ pills.editor_said }}</h6>
			  		</div>
			  		<img style="height: 200px; width: 100%; display: block;" src="{{ pills.image.url }}" alt="Card image">
			  		<div class="card-body">
			  			<p class="card-text" style="height: 200px;">{{ pills.description|truncatechars:200 }}</p>
			  		</div>
			  		<ul class="list-group list-group-flush">
			  			<li class="list-group-item"><b>효능:</b> <small>{{ pills.benefit|truncatechars:20 }}</small></li>
			  			<li class="list-group-item"><b>결핍 시:</b> <small>{{ pills.shortage|truncatechars:20 }}</small></li>
			  			<li class="list-group-item"><b>주의 할 점:</b> <small>{{ pills.careful|truncatechars:20 }}</small></li>
			  		</ul>
			  		<div class="card-body">
			 			<a href="#" class="card-link">Card link</a>
			  			<a href="#" class="card-link">관련기사 링크</a>
			  		</div>
			  		<div class="card-footer text-muted">
			  			여긴 베댓 넣을꺼임
			  		</div>
		  		</div>
		  	</div>
		{% empty %}
		
			{% if request.GET.q %}
				{% include 'pills/search_form.html' %}
				<div class="container-fluid">
					<p></p>
					<p style="text-align: center;">그런 영양제 없음</p>
					
				</div>
			{% endif %}
			
		{% endfor %}


{% endblock %}