{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">{{ object.name }}</h1>

  <p class="lead">{{ object.feature }}</p>
  <p class="lead">{{ object.editor_said }}</p>

    <p id="count-{{ pills.id }}">좋아요 {{ pills.like_count }}개</p>
    <p id="like-user-{{ pills.id }}">
    	좋아하는 유저 :
    	{% for like_user in pills.like_user_set.all %}
        <a href="{% url 'profiles:user_profile' like_user.pk %}">{{ like_user.username }}</a>,	    
      {% endfor %}
	</p>

  <img style="height: 80%; width: 100%; display: block;" src="{{ pills.image.url }}">
  <hr class="my-4">
  <p>{{ object.description|linebreaks }}</p>
	<hr/>
	<h3>효능</h3>
	<p>{{ pills.benefit|linebreaks }}</p>
	<hr/>
	<h3>결핍 시</h3>
	<p>{{ pills.shortage|linebreaks }}</p>
	<hr/>
	<h3>주의할 점</h3>
	<p>{{ pills.careful|linebreaks }}</p>
	<hr/>
  <h3>댓글</h3>
  {% for comment in pills.comment_set.all %}
    <p> > <a href="{% url 'profiles:user_profile' comment.author.pk %}">{{ comment.author }}</a> : {{ comment.content }}</p>
    {% if user == comment.author %}
      <form action="{% url 'pills:pill_comment_delete' pills.pk comment.pk %}" method="POST">{% csrf_token %}
        <input class="btn-outline-danger" type="submit" value="댓글삭제" onclick="return confirm('정말 삭제하시겠습니까?')">
      </form>
    {% endif %}
    </p>
  {% endfor %}
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">관련 자료</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">목록으로</a>
  </p>
</div>
{% endblock %}