{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">{{ object.name }}</h1>

  <p class="lead">{{ object.feature }}</p>
  <p class="lead">{{ object.editor_said }}</p>
  <img style="height: 80%; width: 100%; display: block;" src="{{ pills.image.url }}">
  <hr class="my-4">
  <p>{{ object.description }}</p>
	<hr/>
	<h3>효능</h3>
	<p>{{ pills.benefit }}</p>
	<hr/>
	<h3>결핍 시</h3>
	<p>{{ pills.shortage }}</p>
	<hr/>
	<h3>주의할 점</h3>
	<p>{{ pills.careful }}</p>
		

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">관련 자료</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">목록으로</a>
  </p>
</div>
{% endblock %}