{% extends "base.html" %}

<!-- 유저 프로필 페이지 -->
{% block content %}
</br>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
	<h1>{{ user.username }}님의 프로필</h1>

	<!-- 로그인 중인 유저가 아닌 다른 사람의 프로필 화면이라면, 비밀번호 변경 창이음뜨지 않음 -->
	{% if request.user.id == user.id %}
		<p><a href="{% url 'account_change_password' %}">비밀번호 변경</a></p>
	{% endif %}
		<br/>

	<p>자기소개: </p>
	<p>이메일 : {{ user.email }}</p>
	<p>보관중인 약물 : 
		{% for liked in user.like_set.all %}
			<a href="{% url 'pills:pill_detail' liked.pills.pk %}">{{ liked.pills }}</a>,
		{% endfor %}
	</p>
	<p>내가 작성한 글 : 
		{% for mypost in user.post_set.all %}
			<a href="{% url 'freeboard:post_detail' mypost.pk %}">{{ mypost.title }}</a> /
		{% endfor %}

	</p>

	</div>
	
</div>
</div>

{% endblock %}