{% extends "base.html" %}
{% load hitcount_tags %}

{% block content %}
<br/>

<h1 style="text-align: center;">자유게시판</h1>
</br>


<div class="jumbotron">
  <h1 class="display-3">{{ post.title }}</h1>

  <p class="lead">{{ post.author }}</p>
  <p class="lead">{{ post.timestamp }}</p>
  <p class="lead">조회수: {% get_hit_count for post %}</p>


  {% if post.images %}
    <img style="height: 80%; width: 100%; display: block;" src="{{ post.images.url }}">
  {% endif %}

  {% if post.files %}
    <img style="height: 80%; width: 100%; display: block;" src="{{ post.files.url }}">
  {% endif %}

  <hr class="my-4">
  <p>{{ post.content|linebreaks }}</p>
    <hr/>
    <h3>뭐 넣지</h3>
    <p></p>
    <hr/>

  <h3>댓글</h3>
  <br/>
 

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'freeboard:post_list' %}" role="button">목록으로</a>
  </p>

    {% if request.user == post.author %}
  <p>
    <a class="btn btn-danger" href="{% url 'freeboard:post_delete' post.pk %}" role="button">게시글 삭제</a>
    <!-- <a class="btn btn-primary" data-toggle="modal" href="{% url 'freeboard:post_delete' post.pk %}" data-target="#form-modal">게시글 삭제</a> -->
  </p>
    {% endif %}

</div>


{% endblock %}

